body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 255, 255);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 500px;
    border: 10px solid white;
    border-radius: 8px;
    background-color: black;
}
.red,.yellow,.green{
    border: 5px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}